# Dependency directories
node_modules/
jspm_packages/

# Local env files containing secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploaded assets/local media storage
uploads/

# IDE / Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata files
.DS_Store
Thumbs.db
